*{

    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
body{

    background-color: #1A1A2E;
    color: #acafb7;

} 

a{

    color: #acafb7;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

}

ul, li{

    list-style: none;

}

hr{

    border: 1px solid #acafb7;
    border-radius: 30px;
    margin: 0 auto;
    width: 92%;
    padding-left: -15px;

}

.skillbar-container{

    margin-left: 2%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 58%;
    height: 70%;

}
.skills-bar-maintitle{

    position: fixed;
    margin: 10px 0px 0px 10px;
    display: block;

}
.bar{

    width: 50%;
    margin-bottom: 10px;

}
.skillbar{

    font-size: 12px;
    width: 40%;
    height: 5px;
    border-radius: 10px;

}
.html-bar{

    background: linear-gradient(to right, #FC5404 60%, white 40%);

}
.c-bar{

    background: linear-gradient(to left, white 60%, #FC5404 40%);

}
.sql-bar{

    background: linear-gradient(to left, white 80%, #FC5404 20%);

}
.js-bar{

    background: linear-gradient(to left, white 92%, #FC5404 8%);    

}
.java-bar{

    background: linear-gradient(to left, white 98%, #FC5404 2%);

}
.py-bar{

    background: white; 

}
.php-bar{

    background: white;

}
.bash-bar{

    background: white;

}

.skills-info{

    margin-top: 5vh;
    width: 38%;
    float: right;
    padding: 10px 25px 0px 25px;
/*    border: 1px solid darkgray; */
    border-bottom: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-right: 2%;
    background-color: #2C2E43; 

}
.skill-div{

    margin-top: 30px;
    margin-bottom: 40px;

}
.skill-title{

    margin-bottom: 10px;
    font-weight: bolder;

}


body::-webkit-scrollbar {

    width: 6px; 

}
body::-webkit-scrollbar-thumb{

    height: 10%;
    border-radius: 20px;
    background-color: darkgray;

}
